<footer class="footer">
  <div class="site-section">
    <div class="foocontainer">
      </div>
        <div class="gen-infofo">
          <div class="info-sect">
            <h3>Clientes</h3>
            <ul class="list-unstyled">
              <li><%= link_to "Arrendador", arrendador_path %></li>
              <li><%= link_to "Arrendatario", arrendatario_path %></li>
            </ul>
          </div>
          <div class="info-sect">
            <h3>Nosotros</h3>
            <ul class="list-unstyled">
              <li><a href="#">Nuestra misión</a></li>
              <li><%= link_to "Acerca de nosotros", acerca_path %></li>
            </ul>
          </div>
          <div class="info-sect">
            <h3>Más información</h3>
            <ul class="list-unstyled">
              <li><%= link_to "Garantia", garantia_path %></li>
              <li><%= link_to "Aviso de privacidad", aviso_de_privacidad_path %></li>
              <li><%= link_to "Preguntas frecuentes", preguntas_frecuentes_path %></li>
              <li><%= link_to "Terminos y condiciones", terminos_de_servicio_path %></li>
            </ul>
          </div>
        <div class="info-sect">
          <h3>Siguenos</h3>
          <ul class="list-unstyled social fa-2x">
            <a href=""><i class="fab fa-linkedin"></i></a>
            <a href=""><i class="fab fa-instagram"></i></a>
            <a href=""><i class="fab fa-twitter-square"></i></a>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>