<div class="navbar">

  <div class="logsba">
    <a href="/"><img class="hlogobtn" src="https://res.cloudinary.com/dfy5vakwb/image/upload/c_scale,w_80/v1630947355/bibi/logo.png" alt=""></a>
    <div class="sback">
        <input class="form-control" type="text" placeholder="Explorar...">
      <button class="sbtn"><i class="fas fa-search"></i></button>
    </div>  
  </div>
  
  <div class="mentog" id="menTog">
    <ul class="navbar-nav mr-auto">
        <% if user_signed_in? %>
        
          <li class="nav-item dropdown">
          <%= link_to 'Agregar artículo', new_product_path %>
            <%= image_tag "https://res.cloudinary.com/dfy5vakwb/image/upload/v1631294724/bibi/_MG_0046_p8vijw.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <%= link_to "Perfil", perfil_path, class: "dropdown-item" %>
              <%= link_to "Inbox", "#", class: "dropdown-item" %>
              <%= link_to "Artículos", "#", class: "dropdown-item" %>
              <%= link_to "Solicitudes", "#", class: "dropdown-item" %>
              <%= link_to "Dashboard", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item"  %>
            </div>
          </li>
        <% else %>
          <li class="nav-item dropdown">
            <%= image_tag "https://res.cloudinary.com/dfy5vakwb/image/upload/v1638230967/bibi/shared/Benzene_Ring_hfy45y.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <%= link_to "Ingresar", user_session_path, class: "dropdown-item","data-toggle" => "modal", 'data-target' => '.modsigin'%>
              <%= link_to "Registrarme", new_user_registration_path, class: "dropdown-item"%>
            </div>
    <%end%>
  </div>
</div>
