<table>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.title %></td>
        <td><%= link_to 'Ver producto', product %></td>
        <% if policy(product).edit? %>
          <td><%= link_to 'Editar producto', edit_product_path(product) %></td>
        <% end %>  
        <% if policy(product).destroy? %>
          <td><%= link_to 'Eliminar producto', product, method: :delete, data: { confirm: '¿Esta usted seguro de eliminar este producto?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% if policy(Product).new? %>
  <%= link_to 'Agregar un nuevo producto', new_product_path %>
<% end %>



# Adding a select field to simple form
                            
    <%= f.input :description, as: :select, 
                    collection: @categories, 
                    prompt: 'Select Fund', label: 'Require deposito' %>                            

# Use this line to delete a product

<%# <#%= link_to "Delete #{@product.title}", %>
            <%# product_path(@product),
            method: :delete,
            data: { confirm: "Are you sure?" } %> 