<div class="conpergen">
  <div class="conintper">
    <div class="coninfper">

      <div class="coninfper1">
        <div><h1 class="contitper">Perfil</h1></div>
        <div class="conizqinfper">
          <div class="conperava">
            <div class="perava">
            </div>
            <div class="connomciu">
              <h3><%= @nombre %></h3>
              <p class="texinfintper">Ciudad<%#= @ciudad %></p>
            </div>
          </div>
          <div class="conperint1">
          <div class="conperdes">
              <h4 class="subtitper">Acerca de mi:</h4>
              <p class=""><%= @acerca_de_mi %></p>
            </div>
            <div class="conizqintper">
              <div class="pernorevcaluni">
                <i class="fas fa-check-circle fa-2x" style="color:#ED3660; margin-bottom:10px"></i>
                <p class="texinfintper">17</p>
                <p class="texinfintper"><b>Rentas</b></p>
              </div>
              <div class="pernorevcaluni">
                <i class="fas fa-star fa-2x" style="margin-bottom:10px"></i>
                <p class="">4.5</p>
                <p class="texinfintper"><b>Calif.</b></p>
              </div>
              <div class="pernorevcaluni">
                <i class="fas fa-user fa-2x" style="color: #4F48EC; margin-bottom:10px"></i>
                <p class="texinfperuni"><%= @fecha_de_union_a_bibi %></p>
                <p class="texinfintper"><b>Te uniste</b></p>
              </div>
            </div>
            
          </div>
        </div>
      </div>

      <div class="con2per">
        <div class="coninfper2">
          <div><h1 class="contitper">Información personal</h1></div>
          <div class="conderinfper">
            <div class="conderarr">
              <h4 class="subtitper">Nombre legal:</h4>
                <p class="texinfintper">Nombre Apellido 2do Apellido<%= @nombre_completo %></p>
              <h4 class="subtitper">Cumpleaños:</h4>
              <p class="texinfintper"><%= @cumpleanos %></p>
              <h4 class="subtitper">Teléfono:</h4> 
              <p class="texinfintper"><%= @telefono %>52 12345678</p>
              <h4 class="subtitper">Correo electrónico:</h4> 
              <p class="texinfintper">ejemplo@gmail.com</p>
              <h4 class="subtitper">Identificación legal:</h4>
              <p class="texinfintper">Imagen</p>
              <h4 class="subtitper">Dirección:</h4>
              <p class="texinfintper"><%= @direccion_completa %></p>
              <div class="conbtnedi">
                <a class="edibtntex"href="">Editar</a>
              </div>
            </div>
          </div>
        </div>

        <div class="coninfper3">
          <div><h1 class="contitper">Información pagos</h1></div>
            <div class="concueper">
              <h4 class="subtitper">Formas de pagos:</h4>
              <p class="texinfintper">**** **** **** *965</p>
              <h4 class="subtitper">Formas de cobro:</h4>
              <p class="texinfintper">120370123784200734</p>
              <h4 class="subtitper">RFC:</h4>
              <p class="texinfintper"><%= @rfc %></p>
              <div class="conbtnedi">
                <a class="edibtntex"href="">Editar</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
