<%= simple_form_for(product) do |f| %>
<div class="fornew">
  <div class="forimg">
  
  </div>
  <div class="forinfogen">
    <div class="titdes">
      Titulo y descripcion
      <%= f.input :title,
                    label: 'Titulo del producto',
                    required: true %>
      <%= f.input :description,
                    label: 'Descripción del producto',
                    required: true %>              
    </div>
    <div class="infper">
      Informacion perfil (Quien lo renta, estrellas perfil, ubicacion y cant articulos)
    </div>
    <div class="zonent">
      Zonas de entregas
    </div>
    <div class="otrart">
      Más artículos del perfil
    </div>
    <div class="revper">
      Reviews del perfil
    </div>

    <div class="artrel">
      Artículos relacionados 
    </div>

  </div>
  
  

        
        
        <%= f.input :daily_price,
                    label: 'Precio por dia',
                    required: true
                     %>
        <%= f.input :weekly_price,
                    label: 'Precio por semana',
                    required: true 
                    %>
        <%= f.input :monthly_price,
                    label: 'Precio por mes',
                    required: true %>
        <%= f.input :product_value,
                    label: 'Valor del producto',
                    required: true %>
        <%= f.input :zip_code,
                    label: 'Código postal',
                    required: true %>
        <%= f.input :category,
                    label: "Categoría", 
                    collection: %w{Drones Electrodomésticos Inflables Cámaras Construcción Mobiliario Ropa Transporte},
                    required: true %>               
        <%= f.input :photo,
                    as: :file,
                    class: "input-style",
                    id: "upload" %>                     
        <br>
        <%= f.submit 'Agregar producto' %>
      <% end %>
</div>
  