<div class="" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="">
    <div class="">

    <div class="">
      <%= simple_form_for(product) do |f| %>
        <%= f.input :title,
                    label: 'Titulo del producto',
                    required: true %>
        <%= f.input :description,
                    label: 'Descripción del producto',
                    required: true %>
        <%= f.input :daily_price,
                    label: 'Precio por dia',
                    required: true
                     %>
        <%= f.input :weekly_price,
                    label: 'Precio por semana',
                    required: true 
                    %>
        <%= f.input :monthly_price,
                    label: 'Precio por mes',
                    required: true %>
        <%= f.input :product_value,
                    label: 'Valor del producto',
                    required: true %>
        <%= f.input :zip_code,
                    label: 'Código postal',
                    required: true %>
        <%= f.input :category,
                    label: "Categoría", 
                    collection: %w{Drones Electrodomésticos Inflables Cámaras Construcción Mobiliario Ropa Transporte},
                    required: true %>               
        <%= f.input :photo,
                    as: :file,
                    class: "input-style",
                    id: "upload" %>                     
        <br>
        <%= f.submit 'Agregar producto' %>
      <% end %>
    </div>
  </div>
  </div>
</div>