<div class="modal" id="signupModal" tabindex="-2" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="container" id="container">
      <div class="form-container sign-up-container">
        <div class="form">
          <div class="intsignup1">
              <h1>¡Bienvenid@s!</h1>
              <p class="signupslogan" style="opacity: 40%;">Ingresa tus datos y empieza a vivir ligero.</p>
          </div>
          <div class="forinpsig">
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), :defaults => { :input_html => { :class => "taginput" } }) do |f| %>
          <%= f.error_notification %>
          <%= f.input :email,
                      placeholder: "Email",
                      label: false,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" }%>
          <%= f.input :cellphone_number,
                      placeholder: "No. celular",
                      label: false,
                      required: true %>
          <%= f.input :password,
                      placeholder: "Contraseña",
                      label: false,
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      placeholder: "Confirmar contraseña",
                      label: false,
                      required: true,
                      input_html: { autocomplete: "new-password" } %>
          </div>
          <div class="btnsigininupcon">
            <button class="btnsigninup" type="submit">Registrarme</button>
            <span>o</span>
            <button class="btnsignupgo">
              <div class="btnlog">
                <%=cl_image_tag("bibi/Social.Media/google_lx0gw7.png", :height=>17, :crop=>"scale")%>
              </div>
              <div class="btntext">
                <p style="font-size:16px">Registrarme con Google</p>
              </div>
            </button>
            <p style="font-size: 12px; margin-top: 10px">Al registrarte estas aceptando <em><a href="/aviso_de_privacidad" style="color:#FFF562">aviso de privacidad </a></em> y nuestros <em><a href="/terminos_de_servicio" style="color:#FFF562">terminos y condiciones.</a></em></p>
          <% end %>
          </div>
      </div> 
      </div>
      <div class="form-container sign-in-container">
        <div class="form">
          <div class="intsignup1">
            <h1>Iniciar sesión</h1>
            <p class="signupslogan" style="opacity: 40%;">Te estabamos esperando.</p>
          </div>
          <div class="forinpsig">
            <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name),:defaults => { :input_html => { :class => "taginput" } }) do |f| %>
            <div class="form-inputs">
              <%= f.input :email,
                          label: false,
                          placeholder: "Email",
                          required: false,
                          autofocus: true,
                          input_html: { autocomplete: "email" } %>
              <%= f.input :password,
                          label: false,
                          placeholder: "Contraseña",
                          required: false,
                          input_html: { autocomplete: "current-password" } %>

              <a href="#"><p style="font-size: 12px; text-align: end">¿Olvidaste tu contraseña?</p></a>

              <%= f.input :remember_me,
                          :input_html => { :class => 'remmebtn' },
                          label: 'Recordar contraseña' ,
                          as: :boolean if devise_mapping.rememberable? %>
            </div>
          </div>
          <div class="btnsigininupcon">
            <button class="btnsigninup">Continuar</button>
            <span>o</span>
            <button class="btnsignupgo">
              <div class="btnlog">
                <%=cl_image_tag("bibi/Social.Media/google_lx0gw7.png", :height=>17, :crop=>"scale")%>
              </div>
              <div class="btntext">
                <p style="font-size:16px">Continuar con Google</p>
              </div>
            </button>
          </div>
          <% end %>
        </div> 
      </div>
      <div class="overlay-container">
        <div class="overlay">
          <div class="overlay-panel overlay-left">
            <p style="color: black">Ya tienes cuenta.</p>
            <button class="btnghost" id="signIn">Iniciar sesión</button>
          </div>
          <div class="overlay-panel overlay-right">
            <p style="color: black" >Aun no tienes cuenta.</p>
            <button class="btnghost" id="signUp">Crear cuenta</button>
          </div>
        </div>
      </div>
    </div>
</div>