<div class="modal" id="signupModal" tabindex="-2" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-content">
     
      <div class="modsignupcon">
        <div class="imgforsignup">
          <%= cl_image_tag("bibi/HOME/Bibi-1-08_gr9vck.png", :height=>700, :crop=>"fit") =%>
        </div>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), :defaults => { :input_html => { :class => "taginput" } }) do |f| %>
        <%= f.error_notification %>
        
        <div class="form-signup">
          <div class="intsignup">
            <div class="intsignup1">
              <h3>¡Bienvenid@s!</h3>
              <p class="signupslogan" style="opacity: 40%;">Ingresa tus datos y empieza a vivir ligero.</p>
            </div>
            <div class="aclose">
              <a href=""><%=cl_image_tag("bibi/HOME/icons8-close-20_rqq86h.png")%></i></a>
            </div>
          </div>
          <%= f.input :name,
                      placeholder: "Nombre",
                      label: false,
                      required: true %>
          <%= f.input :last_name,
                      placeholder: "Apellido paterno",
                      label: false,
                      required: true %>
          <%= f.input :mothers_last_name,
                      placeholder: "Apellido materno",
                      label: false,
                      required: true %>
          <%= f.input :email,
                      placeholder: "Email",
                      label: false,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" }%>
          <%= f.input :cellphone_number,
                      placeholder: "Número celular",
                      label: false,
                      required: true %>
          <%= f.input :password,
                      placeholder: "Contraseña",
                      label: false,
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      placeholder: "Confirmar contraseña",
                      label: false,
                      required: true,
                      input_html: { autocomplete: "new-password" } %>
          
          <div class="btnsignupcon">
            <button class="btnsignup">
              <%= f.button :submit, "Registrarme" %>
            </button>
            <button class="btnsignup">
              <%=cl_image_tag("bibi/Social.Media/google_lx0gw7.png")%>
              <%= f.button :submit, "Registrarme con Google" %>
            </button>
            <% end %>
            <p style="font-size: 12px">Al registrarte estas aceptando <em><a href="/aviso_de_privacidad" style="color:#FFF562">aviso de privacidad </a></em> y nuestros <em><a href="/terminos_de_servicio" style="color:#FFF562">terminos y condiciones.</a></em></p>
          </div>
        </div>
      </div>
    </div>
  </div>


