<div class="modsigin" id="modSigin">
  <div class="row justify-content-center">
    <div class="col-4">
    
      <h2>Inicia sesi칩n</h2>

      <br>

      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-inputs">
            <%= f.input :email,
                        label: false,
                        placeholder: "Email",
                        required: false,
                        autofocus: true,
                        input_html: { autocomplete: "email" } %>
            <%= f.input :password,
                        label: false,
                        placeholder: "Contrase침a",
                        required: false,
                        input_html: { autocomplete: "current-password" } %>
            <%= f.input :remember_me,
                        label: 'Recordar contrase침a' ,
                        as: :boolean if devise_mapping.rememberable? %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Inicia sesi칩n" %>
          </div>
        <% end %>
        <br>

        <%= render "devise/shared/links" %>

        <br>
        
    </div>
  </div>
</div>



